# Remove this line before deploying
_____REMOVE_THIS_LINE_____=True
# REQUIRED CONFIG
BOT_TOKEN = ""                              # Require restart after changing it while bot running
OWNER_ID = ""                               # Require restart after changing it while bot running
TELEGRAM_API = ""                           # Require restart after changing it while bot running
TELEGRAM_HASH = ""                          # Require restart after changing it while bot running
# OPTIONAL CONFIG
GDRIVE_ID = ""
IS_TEAM_DRIVE = ""
DOWNLOAD_DIR = "/usr/src/app/downloads/"    # Require restart after changing it while bot running
DOWNLOAD_STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
DATABASE_URL = ""                           # Require restart after changing it while bot running
AUTHORIZED_CHATS = ""                       # Require restart after changing it while bot running
SUDO_USERS = ""                             # Require restart after changing it while bot running
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = ""
INDEX_URL = ""
STATUS_LIMIT = ""
STOP_DUPLICATE = ""
CMD_PERFIX = ""                              # Require restart after changing it while bot running
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = ""
YT_DLP_QUALITY = ""
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# Leech
USER_SESSION_STRING = ""                    # Require restart after changing it while bot running
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
LEECH_FILENAME_PERFIX = ""
DUMP_CHAT = ""
# qBittorrent/Aria2c
BASE_URL = ""
SERVER_PORT = ""
WEB_PINCODE = ""
# RSS
RSS_DELAY = ""                              # Require restart after changing it while bot running
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""                # Require restart after changing it while bot running
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# Buttons
VIEW_LINK = ""
